<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Details</title>
</head>
<body>

<h1>Employee Details</h1>

<div th:if="${employee != null}">
    <p>Name: <span th:text="${employee.name}"></span></p>
    <p>Email: <span th:text="${employee.email}"></span></p>
    <p>Photo:</p>
    <img th:src="'http://localhost:8080/'+@{${employeeImg}}" alt="Employee Photo" width="200" />
</div>

<a href="/upload">Upload Another Photo</a>

</body>
</html>
