# Compiled class files
*.class

# Log files
*.log

#Java Build file
*.jar

#intelliJ editor specific file
.idea

#Maven file
/target/

#Spring boot specific files
.env

#Docker files
docker-compose.yml




